body{
  background-color: #000;
}

.grid{
  margin: auto;
  border: 2px solid #000;
    width: 400px;
    height: 600px;
    background-color: rgb(255, 255, 255);
    position: relative;
    font-size: 200px;
    text-align: center;
}


.doodler{
  background-color: red;
    width: 60px;
    height: 85px;
    background-image: url('doodler.png');
    position: absolute;
}

.platform{
  width: 85px;
  height: 15px;
background-color: green;
position: absolute;
}